.card {
    background-color: #2b2b2b;
    color: #fff;
}

.form-control-comment {
    background-color: #3b3b3b !important;
    color: white !important;
    border: none !important;
}

.post {
    width: 240px;
    background-color: #202124;
    border: 1px solid #5f6368;
    border-radius: 8px;
}

.post:hover {
    border: 1px solid #9ea3a8;
    text-decoration: none;
}

.post-title {
    padding: 12px 16px 0 16px;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #e8eaed;
}

.post-content {
    padding: 16px;
    font-size: 16px;
    color: #e8eaed;
}

.post .post-content {
    max-height: 500px;
}

.botton-nav {
    padding: 16px;
}

.modal-content, .modal-header, .modal-header *, .modal-footer *{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border: none;
}

.modal-header, .modal-footer{
    border-color: var(--main-border-color) !important;
}

/* .modal-dialog {
    width: 100%;
    margin: 0;
} */

.post-detail {
    background-color: var(--main-bg-color);
}

@media screen and (max-width: 600px) {
    .post {
        width: 100%;
    }
}

/* @media (min-width: 576px) {
    .modal-dialog {        
        margin: 1.75rem auto;
    }
    .post-detail {
        border: 1px solid #5f6368;
        border-radius: 8px;
    }
} */